@page
@model ServiceHost.Pages.AccessDeniedModel
@{
}

<div class="row">
    <div class="col-12 text-center ">
        <h1 class="text-danger  mt-5 mb-5">متاسفانه شما به این صفحه دسترسی ندارید </h1>
    </div>
</div>
